.projectcard{
  width: 100%;
}

.projectimage{
    width: 100%;
}

.oneCard{
  width: 100%;
}

.project-grid{
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  background-color: white;
}